<a href="https://colab.research.google.com/github/VladyslavKozhukhov/Kaggle_INGV---Volcanic-Eruption-Prediction/blob/main/First_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data overview

In [45]:
import numpy as np
import pandas as pd
import scipy
import scipy.signal
import datetime
import matplotlib
import matplotlib.pyplot as plt

In [47]:
#Defines
train_csv_path = "./train.csv"
sample_csv_path = "./sample_submission.csv"
single_segment = "./1003520023.csv"

In [33]:
train = pd.read_csv(train_csv_path)
sample_submission = pd.read_csv(sample_csv_path)

In [41]:
# Convert 'time_to_eruption'to hours:minutes:seconds (Just for reference)
#train['days_hours_minutes_seconds'] = (train['time_to_eruption']
             #     .apply(lambda x:datetime.timedelta(seconds = x/100))) 100???? why

In [ ]:
train

In [ ]:
train['time_to_eruption'].describe()

In [ ]:
print('Median:', train['time_to_eruption'].median())
print('Skew:', train['time_to_eruption'].skew()) #symetric?
print('Std:', train['time_to_eruption'].std())
print('Kurtosis:', train['time_to_eruption'].kurtosis()) #heavy-tailed?
print('Mean:', train['time_to_eruption'].mean())

In [ ]:
sample_submission

Look on single segment

In [50]:
segment = pd.read_csv(single_segment,dtype ="int16")
segment.describe()

           sensor_1      sensor_2  ...      sensor_9     sensor_10
count  60001.000000  60001.000000  ...  60001.000000  60001.000000
mean      -2.655972      2.833653  ...     -3.991817     -6.967667
std      352.515183    505.483617  ...    330.512391    758.130409
min    -1698.000000  -6830.000000  ...  -2022.000000  -2815.000000
25%     -236.000000   -286.000000  ...   -220.000000   -502.000000
50%        0.000000      0.000000  ...      0.000000      0.000000
75%      235.000000    294.000000  ...    210.000000    492.000000
max     1407.000000   6472.000000  ...   1306.000000   4018.000000

[8 rows x 10 columns]

           sensor_1      sensor_2  ...      sensor_9     sensor_10
count  60001.000000  60001.000000  ...  60001.000000  60001.000000
mean      -2.655972      2.833653  ...     -3.991817     -6.967667
std      352.515183    505.483617  ...    330.512391    758.130409
min    -1698.000000  -6830.000000  ...  -2022.000000  -2815.000000
25%     -236.000000   -286.000000  ...   -220.000000   -502.000000
50%        0.000000      0.000000  ...      0.000000      0.000000
75%      235.000000    294.000000  ...    210.000000    492.000000
max     1407.000000   6472.000000  ...   1306.000000   4018.000000

[8 rows x 10 columns]