Data overview

In [65]:
import numpy as np
import pandas as pd
import scipy
import scipy.signal
import datetime
import matplotlib
import matplotlib.pyplot as plt
import tqdm
import os
import glob
from pathlib import Path

In [92]:
#Defines
train_csv_path = "./train.csv"
sample_csv_path = "./sample_submission.csv"
single_segment = "./1003520023.csv"
train_data_path = ""
test_data_path = ""

In [33]:
train = pd.read_csv(train_csv_path)
sample_submission = pd.read_csv(sample_csv_path)

In [41]:
# Convert 'time_to_eruption'to hours:minutes:seconds (Just for reference)
#train['days_hours_minutes_seconds'] = (train['time_to_eruption']
             #     .apply(lambda x:datetime.timedelta(seconds = x/100))) 100???? why

In [ ]:
train

In [ ]:
train['time_to_eruption'].describe()

In [ ]:
print('Median:', train['time_to_eruption'].median())
print('Skew:', train['time_to_eruption'].skew()) #symetric?
print('Std:', train['time_to_eruption'].std())
print('Kurtosis:', train['time_to_eruption'].kurtosis()) #heavy-tailed?
print('Mean:', train['time_to_eruption'].mean())

In [111]:
sample_submission

      segment_id  time_to_eruption
0     1000213997                 0
1      100023368                 0
2     1000488999                 0
3     1001028887                 0
4     1001857862                 0
...          ...               ...
4515   996704281                 0
4516   997630809                 0
4517   998072137                 0
4518   998136924                 0
4519    99975682                 0

[4520 rows x 2 columns]

Look on single segment

In [ ]:
segment = pd.read_csv(single_segment,dtype ="int16")
segment.describe()

In [ ]:
segment.fillna(0).plot(subplots=True, figsize=(25, 10))
plt.tight_layout()
plt.show()

Merge data for train/test

In [106]:
train_segmnets = glob.glob(os.path.join(train_data_path,"1*.csv"))
#train_segmnets = glob.glob(os.path.join(test_data_path,"1*.csv"))

train_segmnets[0]

'1000015382.csv'

Concat segments

In [ ]:
lst_of_segments_data = []
lst_of_segments_number = []
#read each segment and save inside li
for filename in train_segmnets:
    df = pd.read_csv(filename, index_col=None, header=0)
    lst_of_segments_data.append(df)
    lst_of_segments_number.append(int(filename[:-4]))
lst_of_segments_data[1]

In [ ]:
#frame = pd.concat(li, axis=0, ignore_index=True)
#frame
segNum_segData= dict(zip(lst_of_segments_number, lst_of_segments_data))
segNum_segData

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
import lightgbm as lgb

Linear regression

In [ ]:
def LinearRegression